In [1]:
import numpy
import pandas

In [2]:
#read_csv to retrive data in a dataframe
ABInbevQuandl = pandas.read_csv('https://www.quandl.com/api/v3/datasets/EURONEXT/ABI.csv?api_key=_czXMKeX32eTXGttzD8H',
                                parse_dates=[0],
                                index_col=[0])

In [6]:
#dtypes type of the columns
ABInbevQuandl.dtypes

Open        float64
High        float64
Low         float64
Last        float64
Volume      float64
Turnover    float64
dtype: object

In [7]:
ABInbevQuandl.columns

Index(['Open', 'High', 'Low', 'Last', 'Volume', 'Turnover'], dtype='object')

In [3]:
#Shape - size of the dataframe
ABInbevQuandl.shape

(1462, 6)

In [4]:
#loc return a subset of the dataframe
ABInbevQuandl.loc['2019-01-31':'2019-01-20']

             Open   High    Low   Last     Volume      Turnover
Date
2019-01-31  65.85  66.61  65.40  66.61  2400725.0  1.590281e+08
2019-01-30  64.63  65.41  64.17  65.19  1429280.0  9.293148e+07
2019-01-29  64.15  64.83  63.76  64.57  1277844.0  8.242696e+07
2019-01-28  65.50  65.64  63.76  64.00  2164979.0  1.391650e+08
2019-01-25  65.99  66.26  65.26  65.54  1541189.0  1.011307e+08
2019-01-24  65.65  65.80  64.64  65.70  2061520.0  1.347041e+08
2019-01-23  64.70  64.93  64.50  64.58  1833495.0  1.185653e+08
2019-01-22  64.70  64.94  64.02  64.15  1946840.0  1.252871e+08
2019-01-21  65.16  65.18  64.02  64.43  1164644.0  7.507347e+07

In [17]:
#slicing an array
a = numpy.arange(10) 
print("a:", a)
print("a from 0 to 1:", a[0:1])
print("a last elem:",a[9:])

a: [0 1 2 3 4 5 6 7 8 9]
a from 0 to 1: [0]
a last elem: [9]

In [5]:
#Read data, order them by date and recreate the index
ABInbevQuandl = pandas.read_csv('https://www.quandl.com/api/v3/datasets/EURONEXT/ABI.csv?api_key=_czXMKeX32eTXGttzD8H',
                                parse_dates=[0])

ABInbevQuandl.sort_values(by=['Date'],inplace=True)
ABInbevQuandl.reset_index()

[DatetimeIndex(['2019-12-24', '2019-12-23', '2019-12-20', '2019-12-19',
                '2019-12-18', '2019-12-17', '2019-12-16', '2019-12-13',
                '2019-12-12', '2019-12-11',
                ...
                '2014-02-27', '2014-02-26', '2014-02-25', '2014-02-24',
                '2014-02-21', '2014-02-20', '2014-02-19', '2014-02-18',
                '2014-02-17', '2014-02-14'],
               dtype='datetime64[ns]', name='Date', length=1462, freq=None),
 Index(['Open', 'High', 'Low', 'Last', 'Volume', 'Turnover'], dtype='object')]

In [9]:
#Print example
print("Text")
a=[1,2]
#Concatenate print for string and array
print("Text:", a)

Text
Text: [1, 2]

In [21]:
float(True)

1.0